{% extends 'base.html' %}

{% block title %}RIMPACT 2022 | Home{% endblock title %}


{% block body %}
<section class="text-gray-400 bg-gray-900 body-font">
    <div class="container mx-auto flex px-5 py-24 items-center justify-center flex-col">
      <img class="lg:w-2/6 md:w-3/6 w-5/6 mb-10 object-cover object-center rounded" alt="hero" src="static/Media/Hero.jpg" style="z-index:1">
      <div class="text-center lg:w-2/3 w-full">
        <h1 class="title-font sm:text-4xl text-3xl mb-4 font-medium text-transparent bg-clip-text bg-gradient-to-r from-pink-500 via-red-500 to-yellow-500"><strong>RIMPACT 2022</strong>
          
        </h1>
        <p class="leading-relaxed mb-8">RIMPACT 2022 is being organized on 16th May 2022.<br></p>
        <div class="flex justify-center">
          {% comment %} <button class="inline-flex text-white bg-indigo-500 border-0 py-2 px-6 focus:outline-none hover:bg-indigo-600 rounded text-lg">Button</button>
          <button class="ml-4 inline-flex text-gray-400 bg-gray-800 border-0 py-2 px-6 focus:outline-none hover:bg-gray-700 hover:text-white rounded text-lg">Button</button> {% endcomment %}
        </div>
      </div>
    </div>
  </section>

        
  <section class="text-gray-400 bg-gray-900 body-font", id='about'>

    <h1 class="sm:text-3xl text-2xl font-medium title-font text-center text-transparent bg-clip-text bg-gradient-to-r from-pink-500 via-red-500 to-yellow-500 mb-20">About RIMPACT 
        <br class="hidden sm:block">
      </h1>
    <div class="container px-5 py-24 mx-auto flex flex-wrap">
      <div class="lg:w-1/2 w-full mb-10 lg:mb-0 rounded-lg overflow-hidden">
        <img alt="feature" class="object-cover object-center h-full w-full" src="static/Media/PVG.png" style="z-index:1">
      </div>
      <div class="flex flex-col flex-wrap lg:py-6 -mb-10 lg:w-1/2 lg:pl-12 lg:text-left text-center">
        <div class="flex flex-col mb-10 lg:items-start items-center">
          <div class="w-12 h-12 inline-flex items-center justify-center rounded-full bg-gray-800 text-red-400 mb-5">
            <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-6 h-6" viewBox="0 0 24 24">
              <path d="M22 12h-4l-3 9L9 3l-3 9H2"></path>
            </svg>
          </div>
          <div class="flex-grow">
            <h2 class="text-transparent bg-clip-text bg-gradient-to-r from-sky-500 via-sky-300 to-violet-600 text-lg title-font font-medium mb-3">Fine Arts</h2>
            <p class="leading-relaxed text-base">RIMPACT looks forward to lets every artist from PVG's CoET explore their interest and abilities in field of fine arts, and provide them with a platform to showcase their skills.</p>
            {% comment %} <a class="mt-3 text-red-400 inline-flex items-center">Learn More
              <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4 ml-2" viewBox="0 0 24 24">
                <path d="M5 12h14M12 5l7 7-7 7"></path>
              </svg>
            </a> {% endcomment %}
          </div>
        </div>
        <div class="flex flex-col mb-10 lg:items-start items-center">
          <div class="w-12 h-12 inline-flex items-center justify-center rounded-full bg-gray-800 text-red-400 mb-5">
            <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-6 h-6" viewBox="0 0 24 24">
              <circle cx="6" cy="6" r="3"></circle>
              <circle cx="6" cy="18" r="3"></circle>
              <path d="M20 4L8.12 15.88M14.47 14.48L20 20M8.12 8.12L12 12"></path>
            </svg>
          </div>
          <div class="flex-grow">
            <h2 class="text-transparent bg-clip-text bg-gradient-to-r from-sky-500 via-sky-300 to-violet-600 text-lg title-font font-medium mb-3">Performing Arts</h2>
            <p class="leading-relaxed text-base">RIMPACT also gives a great stage to the amazing performers at PVG's CoET and helps them discover the hidden talent in themselves.</p>
            {% comment %} <a class="mt-3 text-red-400 inline-flex items-center">Learn More
              <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4 ml-2" viewBox="0 0 24 24">
                <path d="M5 12h14M12 5l7 7-7 7"></path>
              </svg>
            </a> {% endcomment %}
          </div>
        </div>
        <div class="flex flex-col mb-10 lg:items-start items-center">
          <div class="w-12 h-12 inline-flex items-center justify-center rounded-full bg-gray-800 text-red-400 mb-5">
            <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-6 h-6" viewBox="0 0 24 24">
              <path d="M20 21v-2a4 4 0 00-4-4H8a4 4 0 00-4 4v2"></path>
              <circle cx="12" cy="7" r="4"></circle>
            </svg>
          </div>
          <div class="flex-grow">
            <h2 class="text-transparent bg-clip-text bg-gradient-to-r from-sky-500 via-sky-300 to-violet-600 text-lg title-font font-medium mb-3">Digital Arts</h2>
            <p class="leading-relaxed text-base">In the era of Metaverse and Web3 RIMPACT also gives the platform to the people having phenomenal expertise in digital arts, NFTs and their even more digital creations! </p>
            {% comment %} <a class="mt-3 text-red-400 inline-flex items-center">Learn More
              <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4 ml-2" viewBox="0 0 24 24">
                <path d="M5 12h14M12 5l7 7-7 7"></path>
              </svg>
            </a> {% endcomment %}
          </div>
        </div>
      </div>
    </div>
  </section>

{% endblock body %}